blessings==1.7
certifi==2019.11.28
chardet==3.0.4
Click==7.0
Flask==1.1.1
greenlet==0.4.15
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
pkg-resources==0.0.0
Pygments==2.5.1
requests==2.22.0
six==1.13.0
typing==3.7.4.1
urllib3==1.25.7
uWSGI==2.0.18
wcwidth==0.1.7
Werkzeug==0.16.0
