/* j9m 2017 */


/* General Style */

* 
{
	margin: 0px;
}

@media (min-resolution: 96dpi) {
	html { font-size: 1.2em; }
	p.spiel { width: 800px; }
	#content { width: 1000px; }
}
@media (min-resolution: 192dpi) {
	html { font-size: 3.0em; }
}

html, body 
{
	height: 100%;
	background-color: #f0fdfd;
}

.wrapper 
{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -1.5em;
}

.footer, .push 
{
	margin-left: 0.5em;
	height: 0em;
}

#footer
{
	font-size: 0.7em;
	padding: 2em;
	padding-bottom: 1em;
}


/* Top Navigation Bar */

#shiggy
{
	font-size: 1.0em;
}

#diggy
{
	margin: 0px;
	padding-left: -1em;
	padding-top: 15px;
}

#diggy li 
{
	display: inline;
	list-style-type: none;
	padding-right: 10px;
	text-decoration: none;
}

#diggy li a
{
	text-decoration: none;
	color: #3366ff;
}

#diggy li a:hover
{
	color: #99ccff;
}

p.spiel
{
	padding: 1em;
}



/* Links List */

.links ul
{
	margin-top: 1em;
}

.list li
{
	list-style-type: none;
	font-size: 1.3em;
	padding: 0.1em;
}



/* Posts */

#post    { 
	padding-top: 2em;
	padding: 40px; 
}
#post h1 { }
#post p  
{ 
	padding: 10px;
}
#post img {
	width: 90%;
	padding: 10px;
	border-radius: 25px;
	display: block;
	margin: auto;
}
#post iframe {
	width: 100%;
	height: 650px;
	display: block;
	margin: auto;
	background-color: white;
	font-size: 3.0em;
}
#diagram {

