/* j9m 2017 */


/* General Style */

* { margin: 0px; }

html, body { height: 100%; background-color: #f0fdfd; }
body { font-size: 1.2em; }

.wrapper { min-height: 100%; height: auto !important;
	height: 100%;
	margin: 0 auto -2em;
}

.footer, .push { height: 0em; }

#footer { font-size: 0.6em; padding: 1em; }

#content { padding-bottom: 4em; width: 900px; }

@media (min-resolution: 192dpi) {
	body { font-size: 3.0em; }
	#content { width: 100% } 
}

@media only screen and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
	body { font-size: 3.0em; }
	#content { width: 100% } 
}


/* Top Navigation Bar */

#shiggy { font-size: 1.0em; background-color: #d0dddd; padding: 0.5em; }

#diggy { margin: 0px; padding-left: -1em; padding-top: 15px; }
#diggy li { display: inline; list-style-type: none;
	padding-right: 10px; text-decoration: none;
}
#diggy li a { text-decoration: none; color: #3366ff; }
#diggy li a:hover { color: #6699ff; } 

#diggy li.honcho { margin-right: 1em; color: #ff6666; }
#diggy li.honcho a { color: #ff6666; }
#diggy li.honcho a:hover { color: #cd0000; }



/* Root Page */

p.spiel
{
	padding: 1em;
}

.links ul
{
	margin-top: 1em;
}

.list li
{
	list-style-type: none;
	padding: 0.1em;
}



/* Posts */

#post    { 
	padding-top: 2em;
}
#post p  
{ 
	padding: 1em;
}
#post img {
	width: 90%;
	padding: 10px;
	border-radius: 25px;
	display: block;
	margin: auto;
}
#post iframe {
	width: 90%;
	height: 650px;
	display: block;
	margin: auto;
	background-color: white;
	font-size: 3.0em;
}
