<!DOCTYPE html>
<html lang="en">
<!--

                    \||/
                    |  @___oo
          /\  /\   / (__,,,,|      Here Be Dragons. 
         ) /^\) ^\/ _)
         )   /^\/   _)            "Out of order there is chaos,
         )   _ /  / _)             and out of chaos there is order"
     /\  )/\/ ||  | )_)
    <  >      |(,,) )__)
     ||      /    \)___)\         
     | \____(      )___) )___      
     \______(_______;;; __;;; 

-->
<head> {% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<title>{% block title %}{% endblock %}</title> {% endblock %}
</head>


<body>
	<div class="wrapper">
		<div id="shiggy">
			<ul id="diggy" >
				<li class="honcho"><a href="/">j9m</a></li>
				<li><a href="http://www.github.com/manno23" id="current">github</a></li>
				<li><a href="http://www.linkedin.com/in/jason-manning-24ab66aa">linkedin</a></li>
				<li><a href="/static/resume.pdf">resume</a></li>
				<li><a href="mailto:jasonmanning23@gmail.com">contact</a></li>
				<li class="store"><a href="/store" id="current">store</a></li>
			</ul>
		</div>
		<div id="content">
		{% block content %}{% endblock %}
		</div>
		<div class="push"></div>
	</div>
	<div id="footer">
		&copy; Copyright Jason Manning 2017 the year of our Overlord.
	</div>
</body>

</html>

