{% extends "post.html" %}
{% block article %}

<p>
Ok, so what is this HydraHead? It seems when I try to explain this I can get bogged down in implementation 
details so I'll run you through a scenario of its usage so you can get an idea of how it works.
</p>

<p>
You are at some music performance that looks pretty typical of an electronic music show. The performer is
situated up front with his apple laptop and some other devices you can see her using. You see a sign above
her with details for what looks like a phone app? Why would a music producer have a phone app?
You go to point it out to your friend and he's already downloaded it. Starting it up it jumps straight
to some generic music visualisation sort of thing that seems to be responding to the music being performed.
"Thats pretty cool, a bit gimicky but alright".
<br>
There is some movement in the music and the scene on the phone changes to some representation
of a keyboard with 5 different keys on there. Your friend presses on it out of curiosity and a note
blasts out in the performance. After the initial shock he decides to just swipe back and forward along
the keys creating as much chaos as possible. The music/musician seems to respond to this as the entirety of
the piece crescendoes. You can see a few other people who seem to be interacting with different parts.
</p>

<p>
Now this is just how I imagine some person would react to first seeing this, though I think there are many
creative uses for this that I couldnt even imagine in terms of interactive performance. 
From the POV of the music performer all these phones are collectively some midi instrument that controls
instruments you have set up in your sequencer. You setup the transitions of the Scenes and Instruments
alongside the rest of the midi composition in your sequencer, giving instructions for how they will appear
on the phone.
</p>

<p>
HydraHead is a bit of a novel project that I began during the end of my degree in which I wanted to put
to practice what I had been learning. Naturally I wanted to know how these problem solving techniques I
had been accumulating fit into the context of some larger system design. It was a bit surprising to learn
that little was directly relevant this. 
Obviously endless hours of reading and writing code helps in
evaluating suitability of libraries and how you will combine this into some nice clean abstractions.
I would also wanted to make sure performance was acceptable as in this case its running alongside 
memory hungry and sometimes processing heavy audio applications.
</p>
 
<p>
Here are the code repositories for the 
Android application <a href="www.github.com/manno23/HydraHead">HydraHead</a>
Server application in python <a href="www.github.com/manno23/Hydra">Hydra</a>
</p>
{% endblock %}
