{% extends "base.html" %}
{% block title %}j9m{% endblock %}
{% block content %}
		<div id="shiggy">
			<ul id="diggy" >
				<li class="honcho">j9m</li>
				<li><a href="http://www.github.com/manno23" id="current">github</a></li>
				<li><a href="http://www.linkedin.com/in/jason-manning-24ab66aa">linkedin</a></li>
				<li><a href="/static/resume.pdf">resume</a></li>
				<li><a href="mailto:j9m@protonmail.com">contact</a></li>
			</ul>
		</div>
		<div id="writing">
			<p class="spiel">
			</br>
			Hi there. </br>
			</br>
			This is my personal page where I will write about projects </br>
			that I've been working on, or things I've been thinking about. </br>
			If you see anything interesting here you want to talk about msg me, </br>
			I'm always up for talking with people in the industry. </br>
			</p>
		</div>
		<div id="writings" class="links">
			<ul class="list">
				<li><a href="/hydra">Hydra Interactive Music System</a></li>
				<li><a href="/ssd">SSD Pure Autism</a></li>
				<li><a href="/firewall">OpenBSD on an apu2 pcengines machine</a></li>
				<li><a href="/firmware">Ideas on Firmware OTA Updates</a></li>
			</ul>
		</div>
{% endblock %}

