{% extends "base.html" %}
{% block title %}j9m{% endblock %}
{% block content %}
		<div id="writing">
			<p class="spiel">
			</br>
			Hi there.
			</br>
			This is my personal page where I will write about projects
			that I've been working on, or things I've been thinking about.
			If you see anything interesting here you want to talk about msg me,
			I'm always up for talking with people in the industry. 
			</p>
		</div>
		<div id="writings" class="links">
			<ul class="list">
				<li><a href="/hydra">Hydra Interactive Music System</a></li>
				<li><a href="/firmware">Ideas on Firmware OTA Updates</a></li>
				<li><a href="/firewall">OpenBSD on an apu2 pcengines machine</a></li>
				<li><a href="/ssd">SSD Pure Autism</a></li>
			</ul>
		</div>
{% endblock %}

