{% extends "post.html" %}
{% block content %}
{{ super() }}
{% endblock %}
{% block article %}

<br>
<p>
So I had this ssd laying around that I rendered useless at some point, due to me 
pulling it out while powered on. 
It would register in the device tree but ignored any writes to it, without throwing any sort
of error.<br>
I tried a few different ways to reset it including, using the smartctl tool, updating the firmware on it to v2 and even
this convoluted process described in one of the forums by a Crucuial employee recommending
powering it on from a mains powered computer and power cycling it over an hour. 
None of these worked so I forgot about it.<br>
<br>
And so recently I watched a CCC talk about hardware hacking and the basic techniques were just
finding serial ports and hoping some debug shell is operational on them. Usually these are created 
while the firmware is being developed and they just forget to remove the functionality, leaving it
for us inquisitive people to play with.<br>
</p>
<br><img id="diagram" src="{{ url_for('static', filename='ssd.jpg') }}">
<br>

<p>
So the updater is basically a tinycore linux image that you put onto a usb that handles updating the ssd for you.
On the image was a kernel, syslinux configuration and the ramdisk, so I extracted the ramdisk 
and began my investigation of how exactly this updater operated.
I was easily able to find the firmware binary and it was unencrypted raw binary score! 
binary is for the msp430 16 bit microcontroller. I was
kind of hoping I could get some insight into the dual core Marvell microcontroller as I couldnt find any documentation for those chips
anywhere. <br>
Seeing as I had the firmware v2 updater I decided to have a look at that
in radare2, for purely investigative reasons.<br>
Of course it was obvious I should look for a list of commands that I could use on the command prompt and sure
enough I found them Investigating the layout of this was interesting enough
</p>
<br>
<img src="{{ url_for('static', filename='ssd1.jpg') }}"><img src="{{ url_for('static', filename='ssd2.jpg') }}">
<br>

<p>
Anyway I feel like I've said a lot here. I wish I had more time to investigate the firmware on these ssds so I can gain
access to the Marvell controller on them. That would be very cool so if anybody wants to pick that up pls get back to me.
I recommend looking at the firmware on the msp430 and see if you can hack at that to get a shell up from the marvell controller
through the msp430. \m/
</p>
<br>
<p> 
Oh yeah, within these set of commands was a low level format. I dont know precisely what this did when I used it
(as most of the firmware is still obfuscated and hidden I didnt get around to discovering how it works)
, though it got everything working as normal again. SSD saved. <br>
<br>
Here is the output I first got after playing in the command prompt.
Pressing tab gives you this output: 
</p>
<br><iframe src="{{ url_for('static', filename='prompt.txt') }}"></iframe>
<br><iframe src="{{ url_for('static', filename='commands.txt') }}"></iframe>
<br>
<p> This is a dump of the output i got from going through these commands one by one.  </p>
<br><iframe src="{{ url_for('static', filename='capture.txt') }}"></iframe>
<br><br><br><br>
{% endblock %}

